<h1> <%= @restaurant.name %> </h1>
<p> <%= "Address: #{@restaurant.address}" %> </p>
<p> <%= "Phone Number: #{@restaurant.phone_number}" %> </p>
<p> <%= "Category: #{@restaurant.category}" %> </p>

<h2>Reviews</h2>
<% @restaurant.reviews.each do |rev|%>
<%= "Comment: #{rev.content}; " %>
<%= "Rating: #{rev.rating}" %>
<br>
<% end  %>

<br>
<%= link_to 'Back to list', restaurants_path, class: "btn btn-primary" %>
<br>
<br>
<%= link_to 'Review this restaurant', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
